site_name: Shele Docs & Tutorials
site_url: https://masesto.github.io/docs/
site_description: >-
  Documentation how to install Linux or Unix
theme:
  name: material
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.instant
    - navigation.footer
    - navigation.indexes
    - navigation.tabs
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
      primary: teal
      accent: red 
    - scheme: slate 
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode    
      primary: teal
      accent: red

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/masesto
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/masesto1
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/masesto/

markdown_extensions:
  - abbr
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.caret
  - pymdownx.details
  - admonition
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - md_in_html
  - pymdownx.highlight
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.keys
  - pymdownx.tabbed
  - pymdownx.tasklist
  - pymdownx.mark
  - def_list
  - attr_list
  - meta
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'


# Page tree
nav:
  - Home: index.md
  - Guides:
    - guides/index.md
    - Rocky Linux 9 Installation: guides/rocky-installation.md
    - Alma Linux 9 Installation: guides/alma-installation.md
    - Linux Commands Basics: guides/linux-basic.md
    - Linux Commands: guides/linux-commands.md
    - Linux Advanced Commands: guides/advanced-commands.md
    - VI Editor: guides/vi-editor.md
    - Building and Installing Custom Linux Kernels: guides/custom-linux-kernel.md
  - Books:
    - books/index.md
  
copyright: |
  Copyright &copy; 2023 <a href="https://github.com/masesto"  target="_blank" rel="noopener">by Shele</a>
