site_name: Shele Docs & Tutorials
site_url: https://masesto.github.io/docs/
theme:
  name: material
  font:
    text: Red Hat Text
    code: Red Hat Text
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline 
        name: Switch to dark mode
      primary: teal
      accent: red 
    - scheme: slate 
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode    
      primary: teal
      accent: red

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/masesto
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/masesto1
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/masesto/

markdown_extensions:
  - abbr
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.highlight
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.keys
  - pymdownx.tabbed
  - pymdownx.tasklist
  - pymdownx.mark
  - def_list
  - attr_list
  - meta
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search
  - awesome-pages
  - tags
  
copyright: |
  &copy; 2023 <a href="https://github.com/masesto"  target="_blank" rel="noopener">by Shele</a>
